#container {
	position: 	absolute;
	left:    	50%;
	top:      	50%;
}

#canvas {
	width: 		100%;
	height: 	100%;
 }

 /* Box dimensions */

 #box1 {
 	position:	absolute;
 	left:		50%;
 	top:		8.2%;
 	width:		13.020%;
 	height:		23.148%;
 }

 #box2 {
 	position:	absolute;
 	left:		66.35%;
 	top:		8.2%;
 	width:		13.020%;
 	height:		23.148%;
 }

 #box3 {
 	position:	absolute;
 	left:		82.5%;
 	top:		8.2%;
 	width:		13.020%;
 	height:		23.148%;
 }

 #box4 {
 	position:	absolute;
 	left:		50%;
 	top:		36.9%;
 	width:		13.020%;
 	height:		23.148%;
 }

 #box5 {
 	position:	absolute;
 	left:		66.35%;
 	top:		36.9%;
 	width:		13.020%;
 	height:		23.148%;
 }

 #box6 {
 	position:	absolute;
 	left:		82.5%;
 	top:		36.9%;
 	width:		13.020%;
 	height:		23.148%;
 }

 #box7 {
 	position:	absolute;
 	left:		50%;
 	top:		66.5%;
 	width:		13.020%;
 	height:		23.148%;
}

 #box8 {
 	position:	absolute;
 	left:		66.35%;
 	top:		66.5%;
 	width:		13.020%;
 	height:		23.148%;
 }

 #box9 {
 	position:	absolute;
 	left:		82.5%;
 	top:		66.5%;
 	width:		13.020%;
 	height:		23.148%;
 }